body {
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  padding-left: 50px;
  margin: 0 auto;
  gap: 20px;
}

.bar {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding-right: 50px;
  margin: auto;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

img{
  height: 200px;
  width: 200px;
}