body {
  margin: 0;
  position: relative;
}

.container {
  display: flex;
  padding-left: 50px;
  margin: 0 auto;
  gap: 20px;
}

.bar {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  overflow: auto;
}

.bar div:last-child {
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
  list-style: none;
  padding-right: 50px;
  margin: auto;
  width: 100%;
  height: auto;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.show-card {
  display: initial;
  height: 100%;
  width: 100%;
  background-color: rgba(14, 14, 14, 0.877);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  padding-top: 350px;
}

.container input {
  border-radius: 10%;
}

.gallery li {
  width: fit-content;
  height: fit-content;
}


.gallery img {
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.5s;
  margin: 5px 0px;
  width: 225px;
  height: 200px;
}

.gallery img:hover{
  transform: scale(1.070);
  box-shadow: 15px 15px 30px #bebebe;
}

.gallery img:hover {
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #222222;
}

#btn-close {
  color: rgb(255, 255, 255);
  background-color: #2E3840;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  padding: 5px 12px;
}

#btn-close:hover {
  color: rgb(255, 255, 255);
  background-color: #ff1212;
}


.tab {
  background-color: #2E3840;
  text-align: right;
}


.modal {
  width: 600px;
  height: 750px;
  background-color: rgb(238, 238, 238);
}

.info1 img{
  width: 220px;
  height: 200px;
  padding-top: 5px;
  border-radius: 100%;
}

.animal-info{
  text-align: center;
}

.animal-info span{
  font-weight: 400;
}

