body {
  margin: 0;
  position: relative;
}

.container {
  display: flex;
  padding-left: 50px;
  margin: 0 auto;
  gap: 20px;
}

.bar {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  overflow: auto;
}

.bar div:last-child {
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding-right: 50px;
  margin: auto;
  width: 100%;
  height: 95vh;
  overflow-y: auto;
}

img {
  height: 200px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.22)
}

.hidden {
  display: none;
}


.show-card {
  display: initial;
  height: 100vh;
  width: 100%;
  background-color: rgba(14, 14, 14, 0.877);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container input {
  border-radius: 10%;
}


.gallery img {
  border-radius: 10%;
}


#btn-close {
  color: rgb(255, 255, 255);
  background-color: #2E3840;
  font-size: 1.6rem;
  font-weight: 500;

  border: none;
  padding: 5px 12px;
}

#btn-close:hover {
  color: rgb(255, 255, 255);

  background-color: #ff1212;
}


.tab {
  background-color: #2E3840;
  text-align: right;
}


.modal {
  width: 600px;
  height: 625px;
  background-color: rgb(253, 253, 253);
}
/*
.card {
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
 }

 .card::after {
  content: "Add to Cart";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  bottom: -60px;
  background: #00AC7C;
  color: #fff;
  height: 2.5em;
  width: 100%;
  transition: all 80ms;
  font-weight: 600;
  text-transform: uppercase;
 }
 
 .card:hover::after {
  bottom: 0;
 }
 */